<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Defiant_Zombie.KSP.Skeleton.UnityEngine.CoreModule" version="1.11.2" targetFramework="net471" />
  <package id="Defiant_Zombie.KSP.Skeleton.UnityEngine.UIModule" version="1.11.2" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="PLib" version="4.7.0" targetFramework="net471" />
  <package id="Unity3D.UnityEngine" version="2018.3.5.1" targetFramework="net471" />
  <package id="Unity3D.UnityEngine.UI" version="2018.3.5.1" targetFramework="net471" />
</packages>